@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import 'body';

$blue: #1a2456;
$pink: #efc2b3;
$orange: #ff8d6b;
$white: #f0efed;
$black: #080b1b;

:root {
  font-family: 'Prompt', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: 15px;
  color-scheme: light dark;
  color: $blue;
  background-color: $white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  transition: 40ms ease-out;
  scroll-behavior: smooth;
  :focus {
    outline: none;
  }
}

a, button, ul, li, .prevent-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button {
  border: none;
}

input[type="submit"], input[type="email"] {
  font-family: 'Prompt', sans-serif;
}

.open {
  transform: translateX(0);
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.2;
}

.h1 {
  letter-spacing: 4px;
  font-size: 2.5rem;
  font-weight: 600;
}

h5,.h5 {
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.text-pink {
  color: $pink;
}

.text-blue {
  color: $blue;
}

.text-white {
  color: $white;

}
.text-black {
  color: $black;
}

.bg-blue {
  background-color: $blue;
}

.bg-white {
  background-color: $white;
}

.bg-fff {
  background-color: #fff;
}

.bg-orange {
  background-color: $orange;
}

.bg-pink {
  background-color: $pink;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.display-none {
  display: none;
}

.grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 30px;
}

.grid-3x {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 30px;
}

.grid-6fr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "address quicklinks help information subscribe subscribe";
}

.box-shadow {
  box-shadow: 1px 10px 23px 0px rgba(0,0,0,0.31);
}

.align-c {
  align-items: center;
}

.justify-c {
  justify-content: center;
}

.justify-fstart {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.h-100vh {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.p-lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.footer-heading {
  font-size: .8em;
  font-weight: 600;
  letter-spacing: 1px;
  min-width: 6em;
  text-transform: uppercase;
}

address {
  font-style: normal;
  line-height: inherit;
}

.hidden {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.nav-w {
  width: 350px;
}

.m-auto {
  margin: auto !important;
}

.obj-cover {
  object-fit: cover;
}

.obj-contain {
  object-fit: contain;
}

.cover-h {
  height: 675px;
}

.mid-banner-h {
  height: 507px;
}

.z-100 {
  z-index: 100;
}

.margin-b {
  margin-bottom: 0.5rem;
}

.margin-t {
  margin-top: 0.5rem;
}

.margin-b2r {
  margin-bottom: 2rem;

}

.margin-b3r {
  margin-bottom: 3rem;

}

.margin-t2r {
  margin-top: 3rem;
}

.margin-t3r {
  margin-top: 3rem;
}

.margin-b1r {
  margin-bottom: 1rem;

}
.margin-t1r {
  margin-top: 1rem;
}

.padding-b5r {
  padding-bottom: 5rem;

}
.padding-t3r {
  padding-top: 3rem;
}

.col-padding {
  padding: 0 1rem 1rem 1rem;
}

.padding-3r {
  padding: 3rem;
}
